<section class="AR-3D">
    <script src="https://js.charpstar.net/sbs/model-viewer-sbs.js"></script>
    <div class="model-viewer-wrapper">
        <model-viewer id="threeDViewer" src="{{sku}}"
            shadow-intensity="1.55" shadow-softness="1" environment-image="https://js.charpstar.net/sbs/sbs-hdri.hdr">
            <div id ="charpstarViewerControls">
                <div>
                    Variant: <select id="charpstarViewerVariant"></select> 
                </div>
            </div>
        </model-viewer>
    </div>
</section>
{{ 'charpstar.css' | asset_url | stylesheet_tag }}
