{%- liquid 
    if product.metafields.product_data.charpstar_3d_model
        assign threed-model = product.metafields.product_data.charpstar_model_file_name.value
    endif
-%}
{% if threed-model %}
    <script type="module" src="https://cdn.jsdelivr.net/gh/charpstar/InPlace/model-viewer.js"></script>
    <div class="model-viewer-wrapper">
        <model-viewer id="threeDViewer" reveal="auto" src="https://cdnx.charpstar.net/Uploads/{{ threed-model }}.glb
        "></model-viewer>
    </div>
{% endif %}