<section class="AR-3D">
    <script src="https://js.charpstar.net/sbs/model-viewer-sbs.js"></script>
    <div class="model-viewer-wrapper">
        <model-viewer id="threeDViewer" src="{{sku}}"
            shadow-intensity="1.55" shadow-softness="1" environment-image="https://js.charpstar.net/sbs/sbs-hdri.hdr">
            <div id ="charpstarViewerControls">
                <div>
                    Variant: <select id="charpstarViewerVariant"></select> 
                </div>
            </div>
        </model-viewer>
    </div>
</section>
{{ 'charpstar.css' | asset_url | stylesheet_tag }}
<style type="text/css">
    #charpstarViewerControls #charpstarViewerVariant::after {
        content: url("data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="19" stroke="var(--color-text-heading)" fill="none"><path d="m.606 1 8.486 8.485-8.486 8.486"/></svg>");
    }
</style>
