{{ namespace }}
{{ key }}
{% unless product.metafields.namespace.key == empty %}
    <a href="{{ product.metafields.namespace.key.value }}" download>
        <span>{{ link_text }}</span>
    </a>
{% endunless %}