{% if product.metafields.product_data.monteringsanvisning %}
    <a href="{{ product.metafields.product_data.monteringsanvisning.value.url }}" target="_blank" download="{{ product.title }}" class="download_link">
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" viewBox="0 0 90.9 111.81"><defs><style>.cls-1{fill:none;stroke:#231f20;stroke-miterlimit:10;stroke-width:5px}</style></defs><g id="Layer_4"><path d="M2.5 78.39v30.92h85.9V78.39M45.45 92.85V0" class="cls-1"/><path d="m19.61 70.01 25.83 25.83 25.83-25.83" class="cls-1"/></g></svg><p>{{ link_text }}</p>
    </a>
{% endif %}