{% if product.metafields.product_data.monteringsanvisning %}
    <a href="{{ product.metafields.product_data.monteringsanvisning }}" download>
        <span>{{ link_text }}</span>
    </a>
{% endif %}