<div class="collection-top-bar__filters">
  {% if show_filter %}
    {% for filter in results.filters %}
      {% if filter.label == 'In Stock' %}
        <div class="collection-in-stock__toggle">
          <label class="in_stock_toggle inactive" for="filter--filter.p.m.product_data.in_stock--Ja--sidebar">
            <span  title="Smalne inn søket til produkter som samsvarer med taggen in stock"> </span>
          </label>
          <div class="in_stock__variant_orb">
            <div class="in_stock__variant_orb_inner"></div>
          </div>
          <span class="toggle_text">Vis kun produkter på lager</span>	    
        </div>
      {% else %}
        <a href="#" class="pill pill--outline fs-body-base" data-mobile-filter="{{ filter.label | handleize}}">
          {{ filter.label }}
          {% render 'icon' with icon: 'arrow-drop-down' %}
        </a>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if show_sort %}
    <a href="#" class="pill pill--outline fs-body-base" data-mobile-filter="__sort">
      {{ 'collections.sorting.title' | t }}
      {% render 'icon' with icon: 'arrow-drop-down' %}
    </a>
  {% endif %}

  <div class="space"></div>
</div>