<section class="description">
    <div class="description__container">
        <div class="description"></div>
        <h2>Beskrivelse</h2>
        {{ product_data.description }}
    </div>
</section>