{%- liquid 
    if product.metafields.product_data.sharpstar_3d_model
        assign threed-model = product.metafields.product_data.sharpstar_3d_model.value
    endif
-%}
{% if threed-model%}
    <script type="module" src="https://cdn.jsdelivr.net/gh/charpstar/InPlace/model-viewer.js"></script>
    <div class="model-viewer-wrapper">
        <model-viewer id="threeDViewer" reveal="auto" src="
            {{ threed-model }}
        "></model-viewer>
    </div>
{% endif %}