<section class="description">
    <div class="description__container">
        {% render 'charpstar-3d-viewer' %}
    </div>
</section>

{% schema %}
{
    "name": "CharpstAR 3D Viewer",
   "settings": [],
   "presets": [
   {
        "name": "CharpstAR 3D Viewer"
   }
   ],
   "templates": ["product"]
}
{% endschema %}