{% assign threed-textiles = section.settings.threed-viewer-textiles | split: "," %}
{% unless product.has_only_default_variant %}
    {% for variant in product.variants %}
        {% assign options = variant.options | split: "," %}
        {% for option in options %}
            {% for textile in threed-textiles %}
                {% if textile == option %}
                    <span> found: {{ textile }}</span>
                {% endif %}
            {% endfor%}
        {% endfor%}
    {% endfor%}
{% else %}

{% endunless %}
<section class="description">
    <div class="description__container">
        {% render 'charpstar-3d-viewer' %}
    </div>
</section>

{% schema %}
{
    "name": "CharpstAR 3D Viewer",
    "settings": [
        {
            "type": "text",
            "id": "threed-viewer-textiles",
            "label": "3D viewer trigger textiles",
            "default": "Bolt - Marble",
            "info": "Type in the names of the textiles that should trigger an attempt at rendering the 3D viewer for configurable products. Separate by comma. Type the names as they are set for the variants."
        }
   ],
   "presets": [
   {
        "name": "CharpstAR 3D Viewer"
   }
   ],
   "templates": ["product"]
}
{% endschema %}