{% liquid
	assign content = section.blocks
%}

{% schema %}
	{
		"name": "Extended Footer",
		"class": "extended-footer__parent",
		"max_blocks": 4,
		"blocks": [
			{
				"type": "text",
				"name": "Block with image",
				"settings": [
					{
						"id": "image",
						"type": "image_picker",
						"label": "Image"
					},
					{
						"id": "heading",
						"type": "text",
						"label": "Heading",
						"info": "Info",
						"default": "Tittel her"
					},
					{
						"id": "subheading",
						"type": "richtext",
						"label": "Subheading",
						"default": "<p>Skriv tekst her</p>"
					},
					{
						"id": "link_text",
						"type": "text",
						"label": "CTA text"
					},
					{
						"id": "link",
						"type": "url",
						"label": "CTA link"
					}
				]
			},
			{
				"type": "newsletter",
				"name": "Newsletter",
				"class": "inline-section",
				"settings": [
					{
						"id": "title",
						"type": "text",
						"label": "Heading",
						"default": "Sign up for our newsletter"
					},
					{
						"id": "subheading",
						"type": "richtext",
						"label": "Subheading"
					},
					{
						"id": "subheading_max_width",
						"type": "range",
						"label": "Subheading max width",
						"default": 70,
						"min": 40,
						"max": 90,
						"step": 5
					},
					{
						"id": "placeholder",
						"type": "text",
						"label": "Input placeholder",
						"default": "Enter your email address and press return →"
					},
					{
						"type": "paragraph",
						"content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
					}
				]
			}
		]
	}
{% endschema %}