{% liquid
	assign content = section.blocks
%}

{% schema %}
	{
		"name": "Extended Footer",
		"class": "extended-footer__parent",
		"max_blocks": 4,
		"blocks": [
			{
				"type": "text",
				"name": "Block with image",
				"settings": [
					{
						"id": "image",
						"type": "image_picker",
						"label": "Image"
					},
					{
						"id": "heading",
						"type": "text",
						"label": "Heading",
						"info": "Info",
						"default": "Tittel her"
					},
					{
						"id": "subheading",
						"type": "richtext",
						"label": "Subheading",
						"default": "<p>Skriv tekst her</p>"
					},
					{
						"id": "link_text",
						"type": "text",
						"label": "CTA text"
					},
					{
						"id": "link",
						"type": "url",
						"label": "CTA link"
					}
				]
			},
			{
				"type": "newsletter",
				"name": "Newsletter",
				"settings": [
					{
						"id": "image",
						"type": "image_picker",
						"label": "Image"
					},
					{
						"id": "title",
						"type": "text",
						"label": "Heading",
						"info": "We strongly recommend including a heading because it functions as a toggle on smaller screen sizes.",
						"default": "Newsletter"
					},
					{
						"id": "text",
						"type": "richtext",
						"label": "Text",
						"default": "<p>Subscribe for store updates and discounts.</p>"
					}
				]
			}
		]
	}
{% endschema %}