{% liquid
	assign content = section.blocks
%}

{% schema %}
	{
		"name": "Extended Footer",
		"class": "extended-footer__parent",
		"max_blocks": 4,
		"blocks": [
			{
				"type": "text",
				"name": "Text",
				"settings": [
					{
						"id": "heading",
						"type": "text",
						"label": "Heading",
						"info": "Info",
						"default": "Om oss"
					}, 
					{
						"id": "subheading",
						"type": "richtext",
						"label": "Subheading",
						"default": "<p>Use this Section to promote a series of editorial images, or to divide space among a series of editorial images. Be careful not to add too much text.</p>"
					}
				]
			}
		]
	}
{% endschema %}