.model-viewer-wrapper {
    position: relative;
    padding-top: 100%;
    margin: 0
}

model-viewer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#charpstarViewerControls {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display : none;  
}
#charpstarViewerControls div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#charpstarViewerControls #charpstarViewerVariant {
    padding: calc(var(--spacing-unit)*1) calc(var(--spacing-unit)*3);
    border: none;
}
@media (min-width: 40em) {
    .model-viewer-wrapper {
        padding-top: 60%;
    }
}