/* Mosaic Grid Styling */
.mosaic-grid__item > * {
    border-radius: 5px;
}
.mosaic-grid__item.mosaic-grid__item--medium-horizontal-rect, .mosaic-grid__item.mosaic-grid__item--small-square {
    padding-top: 150%;
}
/* Collection banner icons */
.collection-banner {
    position: absolute;
    top: 14px;
    left: 24px;
    width: 70px;
    display: none;
}
.collection-banner span {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    color: #EFEFEF;
    font-weight: 300;
}
.collection-banner svg {
    position: initial;
    width: 100%;
}
@media (min-width: 60em) {
    .mosaic-grid__item.mosaic-grid__item--medium-horizontal-rect {
        padding-top: 50%;
    }
    .mosaic-grid__item.mosaic-grid__item--small-square {
        padding-top: 100%;
    }
}
@media (max-width: 40em) {
    .mosaic-grid__item-fill {
        display: block;
    }
}