input.qtyminus, input.qtyplus {
    -webkit-appearance: none;
    border-radius: 2px;
    border: 1px solid #e3dede;
    padding: 10px;
    padding-top: 5px;
}
.pf-container__qty .pf-element {
    display: flex;
    flex-direction: row;
}
.pf-container__qty .pf-element .pf-input {
    padding-top: 1px;
    height: 25px;
    width: 25px;
    text-align: center;
}
.pf-container__qty .pf-element {
    padding: 0;
}
/* Secondary Gallery (Desktop only) */
.secondary-gallery .product__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.secondary-gallery .product__media-item {
    float: none;
    display: block;
}
/* Lightbox */
.lightbox__images .flickity-viewport{
    max-height: 100vh;
}
.lightbox__image .image {
    display: flex;
    justify-content: center;
}
.lightbox__image .image img {
    max-height: 100vh;
    width: auto;
}