/* Settings */

:root {
    --max-width-large-page: 1200px;
    /* --sxbs-sale-color: #ff7d25; */
    --sxbs-sale-color: #e36f21;
    /* Based on the Hermes Orange */
    --sxbs-accent-color: #F3F1EB;
}

::selection {
    background: #e5e3dc;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #e5e3dc;
    /* Gecko Browsers */
}
html {
    scroll-behavior: smooth;
}

/* TYPOGRAPHY */

a {
    text-decoration: underline;
}

p {
    line-height: 150%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sxbs-on-sale {
    color: var(--sxbs-sale-color);
    font-weight: bold;
}

span.on-sale.saved_percentage {
    display: block;
    font-weight: bold;
    color: var(--sxbs-sale-color);
}


/* Drawer Menu */

.drawer-menu__link {
    text-decoration: none;
}


/* Product Page */

span.dom-message {
    margin-bottom: var(--spacing-large);
    display: inline;
    font-size: 14px;
    margin-top: -14px;
}

.product__policies {
    display: none;
}

.fs-body-base {
    max-width: 90vw;
}

.secondary-gallery .product__media-item {
    width: calc(100% / 3);
    float: left;
}

.product__media-container.secondary-gallery.desktop-only {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

.product-single__meta a,
.header__links a,
.header__right a,
a.btn.btn--primary,
.product-item a,
.collection-item a,
.ff-heading a,
.footer__group-content a,
.vendor-list a,
.filter-item a,
.collection-top-bar__filters a,
.collection-top-bar a {
    text-decoration: none;
}

.product-single__description,
.product-single__dimensions {
    margin-bottom: 16px;
}

.product-single__dimensions ul {
    margin-top: 0;
    list-style: none;
    padding-left: 16px;
}

@media (min-width: 40em) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}


/* Swatches */

.product-form__color-swatches {
    padding-top: 32px;
}

.product__color-swatch,
.variant__option {
    width: calc(100% / 4 - 16px);
    height: auto;
    aspect-ratio: 1;
    margin: 0;
    margin: 8px;
}

.variant__option {
    display: flex;
    flex-direction: column;
}

.variant__option .product__color-swatch {
    width: 100%;
    margin: 0;
    margin-bottom: 8px;
    height: 0;
    padding: 0;
    padding-top: 100%;
    padding-top: calc(100% - 6px);
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -mox-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.variant__option span.variant__title {
    font-size: 10px;
    text-align: center;
}

@media (min-width: 1440px) {
    .variant__option span.variant__title {
        font-size: 9px;
    }
}

.swatch-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 4px;
}

.swatch-images a {
    margin: auto;
    margin-bottom: 6px;
}

p.swatch-name {
    font-size: 12px;
    max-width: 70px;
}

form.product-form .product-form__controls-group {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 8px;
}

form.product-form .product-form__controls-group::-webkit-scrollbar {
    width: 8px;
}

form.product-form .product-form__controls-group::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f8f7f5;
}

form.product-form .product-form__controls-group::-webkit-scrollbar-thumb {
    background: #d7d1c6;
    border-radius: 10px;
}

.product-form__color-swatches .sxbs-variant-sold-out {
    display: none;
}

/* In stock display for variants */

.variant_info {
    display: flex;
    flex-direction: row;
}

.variant_info .in_stock__variant_orb,
.in_stock__variant_orb {
    display: block;
    min-width: 10px;
    width: 10px;
    min-height: 10px;
    height: 10px;
    background: rgb(94 255 114 / 47%);
    shape-outside: circle();
    clip-path: circle();
    margin-top: 0px;
}

.variant_info .in_stock__variant_orb {
    margin-right: 2px;
}

.in_stock__variant_orb_inner {
    width: 4px;
    height: 4px;
    display: block;
    background: #0dec22;
    shape-outside: circle();
    clip-path: circle();
    margin: auto;
    margin-top: 3px;
}

.trigger_orb {
    display: inline-block
}


/* Collapsible menus */

.collapsible-button {
    background-color: #FFF;
    color: #333333;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible-button:after {
    content: '\002B';
    color: #333333;
    font-weight: bold;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
    font-size: 20px;
}

.product-single__dimensions .active:after {
    content: "\2212";
}

.collapsible__list {
    padding: 0;
    padding-left: 22px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-top: none;
    font-size: 14px;
}

.collapsible__list div,
.collapsible__list ul {
    padding: 4px;
}


/* Share Buttons Product Page */

.product__share {
    align-items: center;
    display: flex;
}

.share-block {
    border: none;
    margin: auto;
}

.collapsible__list {
    border: none;
}

.share-block__icon .icon {
    width: 28px;
    height: 28px;
}


/* Description */

section.description {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 32px;
}

.description__container {
    display: block;
    position: relative;
    padding: 16px;
}

.description__container p {
    font-size: 14px;
    letter-spacing: .5px;
    margin-top: 4px;
}

div#description,
div#vedlikehold {
    position: absolute;
    top: -80px;
}

.description__container h1 {
    margin-bottom: 8px;
}

.description__container h2 {
    margin-bottom: 16px;
}

section.description h2 {
    font-weight: 500;
}


/* Vedlikehold Section product page */

.blog-block {
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative;
}

.blog-block .blog-block__image {
    width: 100%;
    padding-top: 100%;
    margin-right: 0;
}

.blog-block .blog-block__text {
    width: 100%;
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
}

.blog-block .blog-block__text h2 {
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 22px;
}

.blog-block .blog-block__text p,
.blog-block .blog-block__text span,
.blog-block ul,
.blog-block ul li {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.blog-block ul {
    list-style: circle;
}

.blog-block .vedlikehold-text p {
    margin-bottom: 16px;
}

@media (min-width: 60em) {
    .blog-block {
        flex-direction: row;
    }
    .blog-block .blog-block__image {
        width: 40%;
        padding-top: 0;
        margin-right: 16px;
    }
    .blog-block .blog-block__text {
        width: 60%;
    }
}


/* Article template SixBondStreet */


/* Header section */

.article .article__image {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.article__date {
    margin-bottom: var(--spacing-extra-small);
}

.article__share {
    margin-top: var(--spacing-extra-small);
}

@media (min-width: 40em) {
    .article__header {
        margin: 20px auto;
    }
}

.header__links-alt {
    display: none;
}

@media (min-width: 60em) {
    .header__links-alt {
        display: flex;
        align-items: center;
        flex-shrink: 1;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


/* end header section */


/* article content */

.article__content {
    max-width: calc(800px + calc(20px * 2));
    max-width: calc(800px + calc(var(--space-outer) * 2));
}


/* end article content */


/* article page settings */

.page {
    --s-max-width: 800px;
}


/* end article page settings */


/* Collection Page */

.product-item__image-link:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 100%;
    background: rgb(71 47 0 / 4%);
    z-index: 10000;
}

.product-item__text .product__vendor {
    margin-bottom: 0;
}

.product-item__text .product__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product__label .in_stock__variant_orb {
    margin-top: 7px;
    float: right;
    margin-left: 8px;
}

.product-item__meta .product-item__text {
    width: 100%;
}

a#in-stock {
    /* Hide pill for "in stock" tag */
    display: none;
}

.product-options__collection {
    display: flex;
    flex-direction: row;
}

.product-options__collection .product__color-swatch {
    width: 20px;
    height: 20px;
    margin: 4px 2px;
    padding: 0;
    border: none;
    pointer-events: none;
  min-width: auto;
    min-height: auto;
}

.product-options__collection span {
    font-size: 12px;
    padding-top: 5px;
    padding-left: 5px;
}


/* Filter styling - In Stock Toggle */

.collection-in-stock__toggle {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.collection-in-stock__toggle .in_stock_toggle {
    display: block;
    width: 30px;
    min-width: 30px;
    height: 20px;
    background: #29292c;
    border-radius: 10px;
    margin-right: 4px;
}

.collection-in-stock__toggle .in_stock_toggle a {
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 10px;
    background: #fff;
    margin-top: 2px;
}

.collection-in-stock__toggle .inactive a {
    margin-left: 2px;
}

.collection-in-stock__toggle .active a {
    margin-left: 12px;
}

.collection-in-stock__toggle .in_stock__variant_orb {
    margin-top: 5px;
    margin-right: 4px;
    margin-left: 4px;
}

.collection-in-stock__toggle span.toggle_text {
    font-size: 12px;
    font-weight: bold;
    margin-top: 3px;
}

.collection-in-stock__toggle-mobile {
    display: flex;
    margin-bottom: 12px;
}

@media (min-width: 40em) {
    .collection-in-stock__toggle-mobile {
        display: none;
    }
}


/* General filter styling */


/* Tablet size Filter Styling */

@media (min-width:40em) and (max-width: 60em) {
    .collection__sidebar {
        width: 160px;
    }
}


/* Remove default Badges */

.product-item__meta .product-item__badges {
    display: none;
}


/* Simple header Catalog Page */

.collection__simple-header {
    margin-top: 85px;
}


/* End Catalog Page */


/* Search Result Page */


/* Input Search */

.search {
    max-width: calc(20px * 2 + 2000px);
    max-width: calc(var(--space-outer) * 2 + var(--max-width));
    padding-top: 16px;
}

.search .ais-page .ais-search-header {
    background: none;
    margin-top: 0px;
}

.search .ais-page .ais-input {
    border: none;
    display: block;
}

.search .ais-page .ais-search-box-container {
    display: block;
    margin: auto;
    width: 100%;
    padding: 8px;
}

svg.ais-SearchBox-submitIcon {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.search .ais-page .ais-input--label {
    display: none;
}

.ais-page .ais-search-box-container {
    display: block;
    background-color: #F8F7F5;
    border-radius: 50px;
}

.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form {
    display: flex;
    flex-direction: row;
}

.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-reset {
    order: 3;
    padding: 8px;
    padding-right: 16px;
}

.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-submit {
    order: 1;
    padding: 8px;
    padding-left: 18px;
}

.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-input {
    order: 2;
    padding-top: 10px;
}

.search select.ais-SortBy-select {
    border: none;
    border-radius: 10px;
    background: #f8f7f5;
    padding: 0 25px;
    margin: auto;
    text-align: center;
    justify-content: center;
    height: 2em;
}


/* Filters/Facets */

.search .ais-facets-button {
    /* Mobile only button */
    border-radius: 15px;
}

.search .ais-page .ais-facets .ais-facet {
    border: none;
}

.search .ais-page .ais-facet--header {
    border: none;
    background: none;
    font-weight: bold;
}

.search .ais-page .ais-facet--label {
    padding-left: 0;
}

.search .ais-page .ais-facet--item {
    padding-left: 16px;
}

.search .ais-page .ais-RefinementList-item--selected,
.search .ais-page .ais-facet--item:hover {
    border-left: none;
    margin-left: 0px;
    padding-left: 16px;
}

.search .ais-facet--label:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #c7c7c7;
    position: absolute;
    left: -12px;
    top: 4px;
    border-radius: 4px;
}

.search .ais-RefinementList-item--selected:before {
    content: '\E800';
    font-family: fontello;
    color: #333;
    position: absolute;
    left: -10px;
}


/* Selected facets */

.search .ais-page .ais-current-refined-values--link>div {
    background: #f8f7f5;
}

.search .ais-page .ais-current-refined-values--link {
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

.search .ais-page .ais-current-refined-values--link:before {
    padding: 4px 12px;
}


/* Search Result Products */

.search .ais-results-size-lg .ais-page .ais-results-as-block .ais-hit,
.search .ais-page .ais-hit {
    border: none;
    margin: 0;
    margin-left: 0;
    padding: 8px;
}

.search .ais-page .ais-results-as-block .ais-hit--picture {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
}

.search .ais-page .ais-results-as-block .ais-hit--details {
    margin-top: 16px;
}

ol.ais-Hits-list {
    padding: 0;
}

.search .ais-hit--details {
    display: flex;
    flex-direction: column;
}

.search .ais-hit--details .ais-hit--title {
    order: 2;
}

.search .ais-hit--details .ais-hit--subtitle {
    order: 1;
    padding-bottom: 4px;
}

.search .ais-hit--details .ais-hit--price {
    order: 3;
    padding-top: 8px;
}

.search .ais-page .ais-results-as-block .ais-hit--picture:after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background: rgb(71 47 0 / 4%);
}

.ais-results-size-lg .ais-page .ais-results-as-block .ais-Hits .ais-hit {
    margin-left: 0;
    width: 33.3%;
    width: calc(100% / 3);
}

.ais-results-size-sm .ais-page .ais-results-as-block .ais-Hits .ais-hit,
.search .ais-results-size-md .ais-page .ais-results-as-block .ais-Hits .ais-hit {
    margin-left: 0;
    width: 50%;
    width: calc(100% / 2);
}

.ais-results-size-xs .ais-page .ais-results-as-block .ais-Hits .ais-hit {
    margin-left: 0;
    width: 100%;
}

.search .ais-page .ais-results-as-block .ais-hit {
    padding: 8px;
}

.search .ais-page .ais-highlight:before {
    /* Overlay for matching text */
    background: rgb(71 47 0 / 4%);
    opacity: 1;
}

.search {
    max-width: calc(20px * 2 + 2000px);
    max-width: calc(var(--space-outer) * 2 + var(--max-width));
    padding-top: 16px;
}

.search .ais-page .ais-search-header {
    background: none;
    margin-top: 0px;
}

.search .ais-page .ais-input {
    border: none;
    display: block;
}

.search .ais-page .ais-search-box-container {
    display: block;
    margin: auto;
    width: 100%;
    padding: 8px;
}

svg.ais-SearchBox-submitIcon {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.search .ais-page .ais-input--label {
    display: none;
}

.ais-page .ais-search-box-container {
    display: block;
    background-color: #F8F7F5;
    border-radius: 50px;
}

.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form {
    display: flex;
    flex-direction: row;
}

.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-reset {
    order: 3;
    padding: 8px;
    padding-right: 16px;
}

.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-submit {
    order: 1;
    padding: 8px;
    padding-left: 18px;
}

.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-input {
    order: 2;
    padding-top: 10px;
}


/* Search Result Products */

.search .ais-results-size-lg .ais-page .ais-results-as-block .ais-hit,
.search .ais-page .ais-hit {
    border: none;
    margin: 0;
    margin-left: 0;
    padding: 8px;
}

.search .ais-page .ais-results-as-block .ais-hit--picture {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    left: 0;
}

.search .ais-page .ais-results-as-block .ais-hit--details {
    margin-top: 16px;
}

ol.ais-Hits-list {
    padding: 0;
}

.search .ais-hit--details {
    display: flex;
    flex-direction: column;
}

.search .ais-hit--details .ais-hit--title {
    order: 2;
}

.search .ais-hit--details .ais-hit--subtitle {
    order: 1;
    padding-bottom: 4px;
}

.search .ais-hit--details .ais-hit--price {
    order: 3;
    padding-top: 8px;
}


/* End Search Result Page */


/* removing bottom line */

.video__overlay-content {
    border-bottom: none;
}


/* Tippy Tooltip */

.tippy-box {
    background-color: #29292c;
}

.tippy-arrow {
    color: #29292c;
}

.tippy-content {
    max-width: 250px;
    padding: 8px;
}

img.tippy-image__tooltip {
    width: 100%;
    border-radius: 5px;
}


/* Instant search */

body .aa-dropdown-menu-size-lg .aa-columns-container {
    background-color: #29292c;
    height: 400px;
}

body .aa-dropdown-menu .aa-product-info,
body .aa-dropdown-menu .aa-product-price {
    color: white;
}

body .aa-dropdown-menu .aa-products-empty .aa-no-result {
    color: white;
}

body .aa-dropdown-menu a,
body .aa-dropdown-menu a:hover,
body .aa-dropdown-menu a:focus,
body .aa-dropdown-menu a:active {
    color: white;
    font-weight: bold;
}

body .aa-dropdown-menu .aa-collections-header,
body .aa-dropdown-menu .aa-articles-header,
body .aa-dropdown-menu .aa-pages-header {
    color: white;
}

body .aa-dropdown-menu .aa-highlight {
    color: white;
    font-weight: bold;
}

.algolia-autocomplete .aa-dropdown-menu .aa-footer {
    background-color: #29292c;
}


/* moving the algolia search block up and to the right*/

body span.algolia-autocomplete,
.algolia-autocomplete {
    position: fixed !important;
    background: #29292c;
    color: white;
    border: none;
    width: 355px !important;
    max-width: calc(100vw - 50px);
    left: 0 !important;
}


/* more specific version for hiding shopify results in instant search */

.quick-search__container .quick-search__results {
    height: 0px;
    overflow: hidden;
    display: none;
}

body .aa-dropdown-menu-size-lg .aa-right-column {
    border-left: none;
}

body .aa-dropdown-menu .aa-cursor {
    background: none;
}

.aa-dropdown-menu .aa-cursor:hover {
    text-decoration: underline;
}

body .quick-search.active.visible {
    width: 70vw;
    max-width: calc(100vw - 50px);
}


/* turn off search bar from hamburger menu to the left from 641px and bigger. 
the shopping cart and the hamburger menu has the same class name */

@media only screen and (min-width: 641px) {
    body .drawer-menu__search-input {
        visibility: hidden;
    }
    .drawer-menu__header {
        visibility: hidden;
    }
    .drawer-menu__panel form {
        display: none;
    }
}


/* move the section with collection, blogpost etc. to the right*/

.aa-dropdown-menu-size-xs .aa-without-powered-by .aa-left-column,
.aa-dropdown-menu-size-sm .aa-without-powered-by .aa-left-column {
    padding: 0 24px;
}

.aa-dataset-products .aa-right-column {
    padding: 24px 12px 0 24px;
}


/* footer start */

.footer__group-content p {
    min-height: 12px;
}

.extended-footer-groups {
    display: flex;
    flex-flow: wrap;
}

.extended-footer-groups .extended-footer-block {
    overflow: hidden;
    float: left;
    margin: 0;
}

.extended-footer-groups .extended-100 {
    width: 100%;
    flex: 100%;
}

.extended-footer-groups .extended-50 {
    width: 100%;
    flex: 50%;
    flex-direction: row;
}

.extended-footer .extended-footer-groups .extended-footer-block__text {
    display: flex;
}

.extended-footer .extended-footer-groups .extended-footer__image img {
    width: 100%;
}

.extended-footer .extended-footer-groups .extended-50,
.extended-footer .extended-footer-groups .extended-100 {
    padding: 62px;
}

.extended-footer .extended-footer-groups .extended-footer-block>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extended-footer .extended-footer-groups .extended-footer-block .extended-footer__image {
    margin-right: 32px;
    width: 200px;
    min-height: auto;
}

.extended-footer .extended-footer-groups .extended-footer-block .extended-footer__content p {
    margin: 8px 0;
}

.extended-footer .extended-footer-groups .extended-footer-block .extended-footer__content a {
    text-decoration: underline dotted;
}

input#Email {
    background: #fff;
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 8px 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(168 161 161 / 26%);
    display: block;
}

.extended-footer .extended-footer-groups .extended-100 .extended-footer__content {
    max-width: 800px;
    margin: auto;
}

@media (min-width:60em) {
    .extended-footer .extended-footer-groups .extended-100 {
        padding: 65px 20%;
    }
  body.template-product  .blog-posts.s-inline-section{margin-top:0}
  .blog-posts.description.s-inline-section{padding:0!important}
}

@media (max-width: 40em) {
    .extended-footer-groups .extended-50 {
        flex-direction: column;
    }
    .extended-footer .extended-footer-groups .extended-footer-block .extended-footer__image {
        width: 100%;
        min-height: 200px;
        margin: auto;
        margin-bottom: 12px;
    }
}

@media (max-width: 60em) {
    .extended-footer-groups .extended-50 {
        flex: 100%;
    }
}


/* Tryg E-Handel */

img#trygg-logo {
    max-width: 55px;
}

.trygg_ehandel {
    margin-top: 12px;
}


/* Payemnt Icons */

.payment-icons svg {
    width: 80px;
    height: 50px;
}


/* footer end */


/* Brand Page */

.page .vendor-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page .vendor-list a {
    flex: 100%;
    width: 100%;
    padding: 16px;
}

.page .vendor-list a .vendor-image__featured {
    padding-top: 100%;
    width: 100%;
    border-radius: 5px;
}

.page .vendor-list a h2 {
    margin-top: 8px;
    margin-bottom: 4px;
    letter-spacing: 2px;
}

.page .vendor-list a .link-text__vendor {
    margin-top: 8px;
    text-decoration: underline dotted;
}

@media (min-width: 40em) {
    .page .vendor-list a {
        width: 50%;
        flex: 50%;
    }
}

@media (min-width: 60em) {
    .page .vendor-list a {
        width: 33%;
        width: calc( 100% / 3);
        max-width: 33%;
        max-width: calc( 100% / 3);
        flex: 33%;
        flex: calc( 100% / 3);
    }
}


/* Brand Page End */

@media only screen and (min-width: 641px) {
    body span.algolia-autocomplete {
        width: 70vw !important;
        max-width: calc(100vw - 50px);
        right: 133.1px !important;
        left: auto !important;
    }
}

@media only screen and (min-width: 2001px) {
    body span.algolia-autocomplete {
        width: 70vw !important;
        max-width: calc(100vw - 50px);
        right: 133.1px !important;
    }
}


/* Nosto */

.nosto-ribbon {
    opacity: 1!important;
}

#frontpage-nosto-1 .nosto-block,
#frontpage-nosto-1 .nosto-block a,
#frontpage-nosto-1 .nosto-block span,
#frontpage-nosto-2 .nosto-block,
#frontpage-nosto-2 .nosto-block a,
#frontpage-nosto-2 .nosto-block span,
#frontpage-nosto-3 .nosto-block,
#frontpage-nosto-3 .nosto-block a,
#frontpage-nosto-3 .nosto-block span,
#frontpage-nosto-4 .nosto-block,
#frontpage-nosto-4 .nosto-block a,
#frontpage-nosto-4 .nosto-block span,
#productpage-nosto-1 .nosto-block,
#productpage-nosto-1 .nosto-block a,
#productpage-nosto-1 .nosto-block span,
#productpage-nosto-2 .nosto-block,
#productpage-nosto-2 .nosto-block a,
#productpage-nosto-2 .nosto-block span,
#productpage-nosto-3 .nosto-block,
#productpage-nosto-3 .nosto-block a,
#productpage-nosto-3 .nosto-block span,
#categorypage-nosto-1 .nosto-block,
#categorypage-nosto-1 .nosto-block a,
#categorypage-nosto-1 .nosto-block span,
#categorypage-nosto-2 .nosto-block,
#categorypage-nosto-2 .nosto-block a,
#categorypage-nosto-2 .nosto-block span,
#cartpage-nosto-1 .nosto-block,
#cartpage-nosto-1 .nosto-block a,
#cartpage-nosto-1 .nosto-block span,
#cartpage-nosto-2 .nosto-block,
#cartpage-nosto-2 .nosto-block a,
#cartpage-nosto-2 .nosto-block span,
#cartpage-nosto-3 .nosto-block,
#cartpage-nosto-3 .nosto-block a,
#cartpage-nosto-3 .nosto-block span,
#searchpage-nosto-1 .nosto-block,
#searchpage-nosto-1 .nosto-block a,
#searchpage-nosto-1 .nosto-block span,
#searchpage-nosto-2 .nosto-block,
#searchpage-nosto-2 .nosto-block a,
#searchpage-nosto-2 .nosto-block span,
#notfound-nosto-1 .nosto-block,
#notfound-nosto-1 .nosto-block a,
#notfound-nosto-1 .nosto-block span,
#notfound-nosto-2 .nosto-block,
#notfound-nosto-2 .nosto-block a,
#notfound-nosto-2 .nosto-block span {
    font-family: 'Raleway'!important;
    font-weight: 400;
}

#frontpage-nosto-1 .nosto-header,
#frontpage-nosto-2 .nosto-header,
#frontpage-nosto-3 .nosto-header,
#frontpage-nosto-4 .nosto-header,
#productpage-nosto-1 .nosto-header,
#productpage-nosto-2 .nosto-header,
#productpage-nosto-3 .nosto-header,
#categorypage-nosto-1 .nosto-header,
#categorypage-nosto-2 .nosto-header,
#cartpage-nosto-1 .nosto-header,
#cartpage-nosto-2 .nosto-header,
#cartpage-nosto-3 .nosto-header,
#searchpage-nosto-1 .nosto-header,
#searchpage-nosto-2 .nosto-header,
#notfound-nosto-1 .nosto-header,
#notfound-nosto-2 .nosto-header {
    font-weight: 400!important;
    text-align: left!important;
    margin-left: 12px;
}

.nosto-product-info {
    padding-left: 12px;
}

.nosto_element {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.nosto-image-container {
    max-height: 0px!important;
    padding-bottom: 100%;
}

.nosto-block a:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 100%;
    background: rgb(127 93 0 / 1%);
    z-index: 10000;
    border-radius: 5px;
}
