/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
	letter-spacing: 2px;
}
p, span {
	letter-spacing: 1px;
}
/* Swatches */
.product-form__color-swatches {
    padding-top: 32px;
}
.product__color-swatch {
    width: 60px;
    height: 60px;
}
.swatch-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 4px;
}

.swatch-images a {
    margin: auto;
    margin-bottom: 6px;
}
p.swatch-name {
    font-size: 12px;
    max-width: 70px;
}

/* Article template SixBondStreet */
.article .article__image {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
.article__date {
	margin-bottom: var(--spacing-extra-small);
}
.article__share {
	margin-tom: var(--spacing-extra-small);	
}