/* Settings */
:root {
	--max-width-large-page: 1200px;
	/* --sxbs-sale-color: #ff7d25; */
	--sxbs-sale-color: #e36f21; /* Based on the Hermes Orange */
}
/* TYPOGRAPHY */
/* h1, h2, h3, h4, h5, h6 {
	letter-spacing: 2px;
}
p, span {
	letter-spacing: 1px;
} */
.sxbs-on-sale {
	color: var(--sxbs-sale-color);
	font-weight: bold;
}
span.on-sale.saved_percentage {
    display: block;
    font-weight: bold;
    color: var(--sxbs-sale-color);
}
/* Swatches */
.product-form__color-swatches {
    padding-top: 32px;
}
.product__color-swatch, .variant__option {
    width: calc(100% / 4 - 16px);
    height: auto;
    aspect-ratio: 1;
    margin: 0;
    margin: 8px;
}
.variant__option {
	display: flex;
	flex-direction: column;
}
.variant__option .product__color-swatch {
	width: 100%;
	margin: 0;
	margin-bottom: 8px;
}
.variant__option span.variant__title {
    font-size: 12px;
}
@media (min-width: 1440px) {
	.variant__option span.variant__title {
		font-size: 14px;
	}
}
.swatch-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 4px;
}

.swatch-images a {
    margin: auto;
    margin-bottom: 6px;
}
p.swatch-name {
    font-size: 12px;
    max-width: 70px;
}
form.product-form .product-form__controls-group {
    max-height: 250px;
    overflow-y: scroll;
}
form.product-form .product-form__controls-group::-webkit-scrollbar {
    width: 8px;
}
form.product-form .product-form__controls-group::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f8f7f5;
}
form.product-form .product-form__controls-group::-webkit-scrollbar-thumb {
    background: #d7d1c6;
    border-radius: 10px;
}
.product-form__color-swatches .sxbs-variant-sold-out {
    display: none;
}
/* Article template SixBondStreet */
/* Header section */
.article .article__image {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
.article__date {
	margin-bottom: var(--spacing-extra-small);
}
.article__share {
	margin-top: var(--spacing-extra-small);	
}
@media (min-width: 40em) {
	.article__header {
		margin: 20px auto;
	}
}
.header__links-alt {
    display: none;
}
@media (min-width: 60em) {
	.header__links-alt {
		display: flex;
		align-items: center;
		flex-shrink: 1;
		overflow-x: hidden;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
/* end header section */
/* article content */
.article__content {
	max-width: calc(800px + calc(20px * 2));
    max-width: calc(800px + calc(var(--space-outer) * 2));
	
}
/* end article content */
/* article page settings */
.page {
	--s-max-width: 800px;	
}
/* end article page settings */
/* Catalog Page */
.product-item__image-link:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 100%;
    background: rgb(71 47 0 / 4%);
    z-index: 10000;
}
.product-item__text .product__vendor {
    margin-bottom: 0;
}
/* Remove default Badges */
.product-item__meta .product-item__badges {
    display: none;
}
/* End Catalog Page */
/* Search Result Page */
/* Input Search */
  	.search {
    	max-width: calc(20px * 2 + 2000px);
    	max-width: calc(var(--space-outer) * 2 + var(--max-width));
          padding-top: 16px;
	}
  	.search .ais-page .ais-search-header {
    	background: none;
    	margin-top: 0px;
	}
	.search .ais-page .ais-input {
        border: none;
        display: block;
	}
  	.search .ais-page .ais-search-box-container {
    	display: block;
    	margin: auto;
    	width: 100%;
      	padding: 8px;
	}
  	svg.ais-SearchBox-submitIcon {
      	width: 15px;
    	height: 15px;
    	margin-top: 5px;
	}
	.search .ais-page .ais-input--label {
		display:none;
 	}
  	.ais-page .ais-search-box-container {
        display: block;
        background-color: #F8F7F5;
        border-radius: 50px;
	}
  	.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form {
    	display: flex;
    	flex-direction: row;
	}
  	.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-reset {
    	order: 3;
      	padding: 8px;
      	padding-right: 16px;
	}
  	.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-submit {
    	order: 1;
      	padding: 8px;
    	padding-left: 18px;
	}
  	.ais-page .ais-block .ais-SearchBox form.ais-SearchBox-form .ais-SearchBox-input {
    	order: 2;
      	padding-top: 10px;
	}
	.search select.ais-SortBy-select {
		border: none;
		border-radius: 10px;
		background: #f8f7f5;
		padding: 0 25px;
		margin: auto;
		text-align: center;
		justify-content: center;
		height: 2em;
	}
	/* Filters/Facets */
	.search .ais-facets-button { /* Mobile only button */
		border-radius: 15px;
	}
	.search .ais-page .ais-facets .ais-facet {
		border: none;
	}
	.search .ais-page .ais-facet--header {
		border: none;
		background: none;
		font-weight: bold;
	}
	.search .ais-page .ais-facet--label {
		padding-left: 0;
	}
	.search .ais-page .ais-facet--item {
		padding-left: 16px;
	}
	.search .ais-page .ais-RefinementList-item--selected, .search .ais-page .ais-facet--item:hover {
		border-left: none;
		margin-left: 0px;
		padding-left: 16px;
	}
	.search .ais-facet--label:after {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		border: 1px solid #c7c7c7;
		position: absolute;
		left: -12px;
		top: 4px;
		border-radius: 4px;
	}
	.search .ais-RefinementList-item--selected:before {
		content: '\E800';
		font-family: fontello;
		color: #333;
		position: absolute;
		left: -10px;
	}
	/* Selected facets */
	.search .ais-page .ais-current-refined-values--link > div {
		background: #f8f7f5;
	}
	.search .ais-page .ais-current-refined-values--link {
		border: none;
		border-radius: 15px;
		overflow: hidden;
	}
	.search .ais-page .ais-current-refined-values--link:before {
		padding: 4px 12px;
	}
	/* Search Result Products */
  	.search .ais-results-size-lg .ais-page .ais-results-as-block .ais-hit, .search .ais-page .ais-hit {
    	border: none;
    	margin: 0;
      	margin-left: 0;
    	padding: 8px;
	}
  	.search .ais-page .ais-results-as-block .ais-hit--picture {
    	width: 100%;
    	height: 0;
    	padding-bottom: 100%;
    	position: relative;
    	margin-left: 0;
    	margin-right: 0;
    	top: 0;
    	left: 0;
	}
  	.search .ais-page .ais-results-as-block .ais-hit--details {
    	margin-top: 16px;
	}
  	ol.ais-Hits-list {
    	padding: 0;
	}
	.search .ais-hit--details {
		display: flex;
		flex-direction: column;
	}
	.search .ais-hit--details .ais-hit--title {
		order: 2;
	}
	.search .ais-hit--details .ais-hit--subtitle {
		order: 1;
		padding-bottom: 4px;
	}
	.search .ais-hit--details .ais-hit--price {
		order: 3;
		padding-top: 8px;
	}
	.search .ais-page .ais-results-as-block .ais-hit--picture:after {
		content: '';
		display: block;
		width: 100%;
		padding-bottom: 100%;
		background: rgb(71 47 0 / 4%);
	}
	.ais-results-size-lg .ais-page .ais-results-as-block .ais-Hits .ais-hit {
		margin-left: 0;
		width: 33.3%;
		width: calc(100% / 3);
	}
	.ais-results-size-sm .ais-page .ais-results-as-block .ais-Hits .ais-hit, .search .ais-results-size-md .ais-page .ais-results-as-block .ais-Hits .ais-hit {
		margin-left: 0;
		width: 50%;
		width: calc(100% / 2);
	}
	.ais-results-size-xs .ais-page .ais-results-as-block .ais-Hits .ais-hit {
		margin-left: 0;
		width: 100%;
	}
	.search .ais-page .ais-results-as-block .ais-hit {
		padding: 8px;
	}
	.search .ais-page .ais-highlight:before { /* Overlay for matching text */
		background: rgb(71 47 0 / 4%);
		opacity: 1;
	}
/* End Search Result Page */
