.product-item--square .image.nopadding, .product-item--square .placeholder-image.nopadding {
    padding-top: 0;
}
.product-item .nopadding video {
    object-fit: contain;
    max-height: 100%;
}
@media screen and (min-width: 78em) {
    .collection__main-area {
        max-width: calc(100% - 260px);
    }
}