{% render 'shogun-products', content: collection %}
{{collection.metafields.shogun.above}}
{% section 'collection--template' %}

<div class="sections">
  {% section 'featured-collection--static' %}
  {% section 'collection-list--static' %}
  {% section 'gallery--static' %}
</div>
{{collection.metafields.shogun.below}}
