{% render 'shogun-products', content: collection %}
{{collection.metafields.shogun.above}}

{% section 'collection--template' %}

<div class="sections">
  {% section 'featured-collection--static' %}
  {% section 'collection-list--static' %}
  {% section 'gallery--static' %}
</div>
{{collection.metafields.shogun.below}}

{% render 'nosto-element', id:'categorypage-nosto-1' %}
{% render 'nosto-element', id:'categorypage-nosto-2' %}
