{% assign counter = 0 %}
{% for vendor in shop.vendors %}
{% assign counter = counter | plus: 1 %}
{% endfor %}

{% assign counter_divided_by_3 = counter | divided_by: 3 | floor %}

{% render 'pages--page' %}

<div class="vendor-list block-grid three-up mobile one-up">
{% for product_vendor in shop.vendors %}
	{% assign its_a_match = false %}
	{% capture my_collection_handle %} {{ product_vendor | handleize | strip | escape  }} {% endcapture %}
	{% assign my_collection_handle_stripped = my_collection_handle | strip | escape %}

	{% for collection in collections %}
		{% if my_collection_handle_stripped == collection.handle %}
			{% assign its_a_match = true %}
		{% endif %}
	{% endfor %}

	{% if its_a_match %}
		<a href="/collections/{{ product_vendor | handleize }}">
			{% if collections[my_collection_handle_stripped].featured_image %}
				<div class="vendor-image__featured" background="url({{ collections[my_collection_handle_stripped].featured_image | img_url: '2048px' }}) cover no-repeat"></div>
			{% endif %}
			<div class="vendor__image" background=""></div>
			<h2>{{collections[my_collection_handle_stripped].title}}</h2>
		</a>
	{% endif %}
{% endfor %}
</div>